//https://popper.js.org/docs/v2/tutorial/#styling

.popper {
  .arrow {
    &,
    &::before {
      position: absolute;
      width: 8px;
      height: 8px;
      z-index: -1;
    }

    &::before {
      content: "";
      transform: rotate(45deg);
    }
  }

  &[data-popper-placement^="top"] {
    > .arrow {
      bottom: -4px;
    }
  }

  &[data-popper-placement^="bottom"] {
    > .arrow {
      top: -4px;
    }
  }

  &[data-popper-placement^="left"] {
    > .arrow {
      right: -4px;
    }
  }

  &[data-popper-placement^="right"] {
    > .arrow {
      left: -4px;
    }
  }
}

.popper-tooltip {
  color: white !important;
  pointer-events: none;
  font-weight: bold;
  padding: 0.3em;
  z-index: 5;
  border-radius: 0.2em;
  white-space: nowrap;

  animation: fade-in 100ms ease-in;

  &,
  > div.arrow::before {
    background-color: #333;
  }
}

.popper-list {
  z-index: 1;

  width: min-content;

  display: flex;
  flex-direction: column;

  animation: fade-in 100ms ease-in;

  > div:first-of-type {
    border-radius: 8px 8px 0px 0px;
  }

  > div:nth-last-of-type(2) {
    border-radius: 0px 0px 8px 8px;
  }

  > div:not(.arrow) {
    padding: 0.5em;

    white-space: nowrap;

    &:hover {
      cursor: pointer;
      background-color: whitesmoke;
    }
  }

  &,
  > div.arrow::before {
    background-color: white;
  }
}
