._ {
  background-color: white;

  width: 250px;
  max-width: 250px;
  height: 180px;
  max-height: 180px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding: 1em;

  h1 {
    font-size: 130%;
    font-weight: bold;
  }

  p {
    overflow: hidden;
    text-align: center;
  }

  :global {
    animation: bounce-in 500ms ease-in;
  }
}
