.panel {
  position: relative;

  background-color: white;

  width: 375px;
  height: 430px;

  border-radius: 25px;

  padding: 2.5em 2.3em;

  :global {
    animation: fade-in 100ms ease-in;
  }
}

._ {
  display: flex;
  flex-direction: column;

  label {
    font-size: 95%;
    font-weight: bold;
  }

  > div {
    flex-grow: 0.5;
  }

  > div:last-child {
    //background-color: gray;
    flex-grow: 1;

    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  button {
    border-radius: 40px;
    border: none;
    padding: 1.4em 1.8em;
  }
}
