@import "style/utilities";

$padding: 20px;

._ {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  grid-gap: 10px;

  position: relative;
  padding: $padding;
  background-color: white;
}

.title {
  color: black;
}
.message {
  color: black;
}

.in:global {
  animation: bounce-in 0.5s;
}

.out:global {
  animation: bounce-out 0.5s;
}
