.app {
  .body {
    display: flex;

    .actions {
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          padding: 0.2em 0.3em;

          cursor: pointer;

          font-size: 110%;
        }
      }

      background-color: $admin-color-4;
    }
    .workspace {
      flex: 1 1 auto;
      min-height: 0;
      min-width: 0;

      overflow: auto;

      background-color: $admin-color-1;

      .space-center {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .header {
    background-color: $admin-color-5;
    padding: 0.2em;
    text-align: center;
  }

  width: 100%;
  max-width: 1100px;

  height: 100%;
  max-height: 600px;

  display: flex;
  flex-direction: column;
}

.panel {
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
}

.flex-full {
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;

  overflow: auto;
}

#root {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  min-width: 0;
  height: 100vh;
  min-height: 0;

  //overflow-x: hidden;

  padding: 0.5em;
}
