.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: honeydew;
}

.greeting {
  font-size: 200%;
  font-weight: bold;
}

.in:global {
  animation: fade-in 0.3s;
}

.out:global {
  animation: fade-out 0.2s;
}
