@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/forms";
@import "keyframes";

.panel {
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;

  overflow: auto;

  background-color: rgba(0, 0, 0, 0.5);
}
