._ {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.filter {
  position: relative;

  > span {
    font-weight: bold;
  }
}

.filter,
.search {
  padding: 0.4em;
  display: flex;
}

.list {
  background-color: white;

  z-index: 100;

  > li {
    padding: 0.3em;

    &:hover {
      background-color: whitesmoke;
    }
  }
}

.filter,
.search,
.list {
  & * {
    cursor: pointer;
  }
}
