@import "~bootstrap/scss/bootstrap";

.btns-my {
  font-size: 125%;

  span {
    cursor: pointer;
  }
}

#root {
  position: relative;
}

.navbar-sticky {
  top: 0;
  position: sticky;
  z-index: 1;
}
