@import "~bootstrap/scss/bootstrap-reboot";
@import "../style/index.scss";

$color1: #011f4b;
$color2: #03396c;
$color3: #005b96;
$color4: #6497b1;
$color5: #b3cde0;

.app {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  .crud {
    display: flex;
    flex-direction: column;

    border-radius: 8px;
    overflow: hidden;

    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 500px;

    .records {
      overflow: auto;
      background-color: white;

      table {
        width: 100%;
      }

      th {
        top: 0;
        position: sticky;
        background-color: $color4;
      }

      tbody button {
        border: 0;
        background: transparent;
      }

      tbody tr:hover {
        cursor: pointer;
        background-color: $color5;
      }
    }

    .head h2 {
      text-align: center;
    }

    .action {
      background-color: $color4;

      text-align: center;

      button {
        border: 0;
        background-color: transparent;
        font-size: 130%;
      }
    }

    .head {
      background-color: $color3;
    }
  }
}
