.room {
  z-index: 1;

  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  position: relative;

  .toggle {
    //align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    height: 100%;
    //background-color: blue;
    z-index: 0;
    position: absolute;

    > div {
      cursor: pointer;
      font-size: 130%;
      border-radius: 0 8px 8px 0;
      background-color: whitesmoke;
      padding: 0.1em;
    }

    * {
      z-index: 5;
    }
  }

  .header {
    h3 {
      text-align: center;
    }
  }

  .messages {
    background-color: whitesmoke;

    flex: 1 1 auto;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
  }
  .form {
    padding: 0.3em;
    display: flex;

    button[type="button"] {
      font-size: 120%;
      margin: 0 0.2em;
    }

    input {
      width: 100%;
    }
  }
}

.active {
  background-color: whitesmoke;
}

.rooms {
  position: relative;

  height: 100%;
  width: 200px;

  //padding: 0.5em 0;

  ol {
    position: absolute;
    height: 100%;
    width: 100%;

    overflow: auto;

    margin: 0;

    li {
      margin-bottom: 0.3em;

      &:hover {
        cursor: pointer;
        background-color: whitesmoke;
      }

      p {
        margin: 0;
      }
    }
  }
}

.root {
  background-color: rgb(209, 209, 226);

  display: flex;

  position: relative;
  width: 100%;
  min-width: 0;
  height: 100%;
  min-height: 0;
}
