@import "style/utilities";

._ {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.buttons {
  position: absolute;

  top: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
}
