._ {
  position: relative;

  width: 375px;
  height: 430px;

  padding: 1.6em 1em;

  display: flex;
  flex-direction: column;

  label {
    font-size: 95%;
    font-weight: bold;
  }

  > div {
    flex-grow: 0.5;
  }

  > div:last-child {
    //background-color: gray;
    flex-grow: 1;

    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  input[type="submit"] {
    border-radius: 40px;
    border: none;
    padding: 0.7em 1.9em;
    cursor: pointer;
  }

  select {
    background-color: white;
  }

  .close {
    position: absolute;

    font-size: 115%;

    cursor: pointer;

    top: 0em;
    right: 0.5em;
  }
}
