@import "style/variables";

._ {
  width: 100%;
  height: 100%;
}
._ table {
  width: 100%;

  td {
    //white-space: nowrap;
    border: 1px solid $color-5;
    padding: 0.15em;
  }

  thead tr th {
    font-weight: bold;
    font-size: 110%;
    padding: 1px;

    position: sticky;
    top: 0;

    background-color: $color-4;

    border-left: 1px solid $color-5;
    border-right: 1px solid $color-5;
  }

  tbody {
    tr {
      // td:first-child {
      //   width: 150px;
      // }

      td {
        min-width: 100px;
      }

      &:hover {
        background-color: $color-1;
        cursor: pointer;
      }
    }
  }
}
