//https://popper.js.org/docs/v2/tutorial/#styling
.tooltip {
  background-color: #333;
  color: white !important;
  pointer-events: none;
  font-weight: bold;
  padding: 0.3em;
  z-index: 15;
  border-radius: 0.2em;
  white-space: nowrap;

  > .arrow {
    &,
    &::before {
      position: absolute;
      width: 8px;
      height: 8px;
      z-index: -1;
    }

    &::before {
      content: "";
      transform: rotate(45deg);
      background: #333;
    }
  }

  &[data-popper-placement^="top"] {
    > .arrow {
      bottom: -4px;
    }
  }

  &[data-popper-placement^="bottom"] {
    > .arrow {
      top: -4px;
    }
  }

  &[data-popper-placement^="left"] {
    > .arrow {
      right: -4px;
    }
  }

  &[data-popper-placement^="right"] {
    > .arrow {
      left: -4px;
    }
  }
}
