._ {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: max-content;
  gap: 0.5em;

  padding: .2em;

  label {
    margin-right: 0.5em;
    font-weight: bold;
  }

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.firstThree {
  grid-column: 1 / 4;
}

.secondThree {
  grid-column: 4 / 8;
}

.three {
  grid-column: 8 / 11;
}

.firstSecond {
  grid-column: 1 / 6;
}

.second {
  grid-column: 6 / 11;
}
