._ {
  position: relative;

  width: 100%;

  input{
    cursor: pointer;
  }

  &:hover > :first-child {
    transform: scale(1.1);
    transition: transform 100ms ease-in;
  }

  > :first-child {
    position: absolute;

    font-size: 110%;

    z-index: 1;

    top: 11px;
    right: 10px;
  }
}

.options {
  z-index: 10;
  width: 100% !important;
  max-height: 250px;
  overflow: auto;
}
