@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/spinners";

$color1: #b3ecec;
$color2: #89ecda;
$color3: #43e8d8;
$color4: #40e0d0;
$color5: #3bd6c6;

#root .dashboard {
  display: flex;
  flex-direction: column;

  border: 1px black;
  background-color: $color5;

  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 400px;

  border-radius: 4px;

  overflow: hidden;

  .head {
    text-align: center;
    font-weight: bold;

    position: relative;

    .out {
      position: absolute;
      top: 0.5em;
      right: 0.5em;

      cursor: pointer;
    }
  }

  .loading,
  .message,
  .body {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .body {
    justify-content: flex-start;

    background-color: whitesmoke;

    .rooms {
      width: 300px;
      height: 100%;

      background-color: $color4;

      position: relative;

      > ul {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: auto;

        list-style-type: none;

        li:hover,
        .active {
          background-color: whitesmoke;
          cursor: pointer;
        }
      }
    }

    .guest {
      display: flex;
      flex-direction: column;

      width: 100%;
      height: 100%;

      background-color: $color2;

      position: relative;
      .bttn-toggle {
        position: absolute;
        top: 0;
        left: 0;

        background-color: $color4;

        padding: 0.5em;

        display: flex;
        justify-content: center;
        align-items: center;

        /* top-left | top-right | bottom-right | bottom-left */
        border-radius: 0px 4px 4px 0px;

        cursor: pointer;

        z-index: 15;
      }

      .body {
        position: relative;

        width: 100%;
        height: 100%;

        .messages {
          position: absolute;
          overflow: auto;

          width: 100%;
          height: 100%;

          display: flex;
          flex-direction: column-reverse;

          margin: 0;
          padding: 0;
        }
      }

      .form {
        display: flex;
      }
    }
  }
}

#root .login {
  width: 100%;
  max-width: 250px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;

  padding: 1em;

  h3 {
    text-align: center;
    font-weight: bold;
  }

  input,
  button {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}

.panel {
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  background-color: whitesmoke;
}
