$head: "Lora", serif;
$body: "Merriweather", serif;

table {
  th {
    font-family: $head;
  }
  td {
    font-family: $body;
  }
}

h1 {
  font-family: $head;
  font-size: 130%;
}

legend {
  font-family: $head;
}

label {
  font-family: $head;
}

p {
  font-family: $body;
}
